<a href="https://colab.research.google.com/github/gaspaaa/2021-4ci/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import requests 
r = requests.get("https://dati.comune.milano.it/dataset/5001a31d-c9f8-414b-897e-dc0c58a5f9f0/resource/57c8f8e9-4a69-4891-bda0-ef3ede9b9890/download/ds261_economia_numero_aziende_zootecniche_numero_capi_tipo_superficie_utilizzata_2010c.json")
data = r.json()

In [34]:

print("ClasseSuperficie Agricola Utilizzata (SAU):" , data[0]["ClasseSuperficie Agricola Utilizzata (SAU)"])
print("-----------------------------")
print("Numero di aziende:" , data[0]["Numero di aziende"])
print("-----------------------------")
print("Superficie totale:" , data[0]["Superficie totale"])
print("-----------------------------")
print("Superficie agricola utilizzata:" , data[0]["Superficie agricola utilizzata"])
print("-----------------------------")
print("Bovini - Totale:" , data[0]["Bovini - Totale"])
print("-----------------------------")
print("Bufalini - Totale:"  ,data[0]["Bufalini - Totale"])
print("-----------------------------")
print("Equini - Totale:" , data[0]["Equini - Totale"])
print("-----------------------------")
print("Ovini - Totale:" , data[0]["Ovini - Totale"])
print("-----------------------------")
print("Caprini - Totale:" , data[0]["Caprini - Totale"])
print("-----------------------------")
print("Suini - Totale:" , data[0]["Suini - Totale"])
print("-----------------------------")
print("Avicoli - Totale:" , data[0]["Avicoli - Totale"])
print("-----------------------------")
print("Conigli - Totale:" , data[0]["Conigli - Totale"])
print("-----------------------------")
print("Struzzi - Totale:" , data[0]["Struzzi - Totale"])

ClasseSuperficie Agricola Utilizzata (SAU): 0 ettari
-----------------------------
Numero di aziende: 5
-----------------------------
Superficie totale: 2,55
-----------------------------
Superficie agricola utilizzata: 0
-----------------------------
Bovini - Totale: 0
-----------------------------
Bufalini - Totale: 0
-----------------------------
Equini - Totale: 59
-----------------------------
Ovini - Totale: 0
-----------------------------
Caprini - Totale: 0
-----------------------------
Suini - Totale: 4
-----------------------------
Avicoli - Totale: 779
-----------------------------
Conigli - Totale: 43
-----------------------------
Struzzi - Totale: 0